<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Marketplaceamount>
            <version>1.0.1</version>
        </Cminds_Marketplaceamount>
    </modules>
    <global>
        <blocks>
            <marketplaceamount>
                <class>Cminds_Marketplaceamount_Block</class>
            </marketplaceamount>
        </blocks>
        <models>
            <marketplaceamount>
                <class>Cminds_Marketplaceamount_Model</class>
                <resourceModel>marketplaceamount_mysql4</resourceModel>
            </marketplaceamount>
            <marketplaceamount_mysql4>
                <class>Cminds_Marketplaceamount_Model_Mysql4</class>
            </marketplaceamount_mysql4>
        </models>
        <helpers>
            <marketplaceamount>
                <class>Cminds_Marketplaceamount_Helper</class>
            </marketplaceamount>
        </helpers>
        <resources>
            <marketplaceamount>
                <setup>
                    <module>Cminds_Marketplaceamount</module>
                    <class>Cminds_Marketplaceamount_Model_Mysql4_Setup</class>
                </setup>
            </marketplaceamount>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <cminds_marketplaceamount>
                    <files>
                        <default>Cminds_Marketplaceamount.csv</default>
                    </files>
                </cminds_marketplaceamount>
            </modules>
        </translate>
        <layout>
            <updates>
                <marketplaceamount>
                    <file>cminds_marketplaceamount.xml</file>
                </marketplaceamount>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <marketplaceamount_adminhtml_customer_save_after>
                        <class>marketplaceamount/adminhtml_observer</class>
                        <method>onCustomerSave</method>
                    </marketplaceamount_adminhtml_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <cminds_marketplaceamount>
                    <files>
                        <default>Cminds_Marketplaceamount.csv</default>
                    </files>
                </cminds_marketplaceamount>
            </modules>
        </translate>
        <routers>
            <cminds_supplierfrontendproductuploader>
                <args>
                    <modules>
                        <cminds_marketplaceamount before="Cminds_Supplierfrontendproductuploader">Cminds_Marketplaceamount</cminds_marketplaceamount>
                    </modules>
                </args>
            </cminds_supplierfrontendproductuploader>
        </routers>
        <layout>
            <updates>
                <marketplaceamount>
                    <file>cminds_marketplaceamount.xml</file>
                </marketplaceamount>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <marketplaceamount_predispatch_cart_index>
                        <class>marketplaceamount/observer</class>
                        <method>onCartLoad</method>
                    </marketplaceamount_predispatch_cart_index>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <marketplaceamount_predispatch_checkout_onepage>
                        <class>marketplaceamount/observer</class>
                        <method>onCheckoutLoad</method>
                    </marketplaceamount_predispatch_checkout_onepage>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <sales_order_save_before>
                <observers>
                    <controller_action_predispatch_sales_order_save_before>
                        <class>marketplaceamount/observer</class>
                        <method>checkIsPlaceOrderPossible</method>
                    </controller_action_predispatch_sales_order_save_before>
                </observers>
            </sales_order_save_before>
            <controller_action_predispatch_checkout_multishipping_addresses>
                <observers>
                    <marketplaceamount_predispatch_multishipping_addresses>
                        <class>marketplaceamount/observer</class>
                        <method>onCheckoutLoad</method>
                    </marketplaceamount_predispatch_multishipping_addresses>
                </observers>
            </controller_action_predispatch_checkout_multishipping_addresses>
            <controller_action_predispatch_checkout_multishipping_shipping>
                <observers>
                    <marketplaceamount_predispatch_multishipping_shipping>
                        <class>marketplaceamount/observer</class>
                        <method>onCheckoutLoad</method>
                    </marketplaceamount_predispatch_multishipping_shipping>
                </observers>
            </controller_action_predispatch_checkout_multishipping_shipping>
            <controller_action_predispatch_checkout_multishipping_billing>
                <observers>
                    <marketplaceamount_predispatch_multishipping_billing>
                        <class>marketplaceamount/observer</class>
                        <method>onCheckoutLoad</method>
                    </marketplaceamount_predispatch_multishipping_billing>
                </observers>
            </controller_action_predispatch_checkout_multishipping_billing>
            <controller_action_predispatch_checkout_multishipping_overview>
                <observers>
                    <marketplaceamount_predispatch_multishipping_overview>
                        <class>marketplaceamount/observer</class>
                        <method>onCheckoutLoad</method>
                    </marketplaceamount_predispatch_multishipping_overview>
                </observers>
            </controller_action_predispatch_checkout_multishipping_overview>
            <supplierfrontendproductuploader_nav_load>
                <observers>
                    <marketplaceamount_nav_load>
                        <type>singleton</type>
                        <class>Cminds_Marketplaceamount_Model_Observer</class>
                        <method>navLoad</method>
                    </marketplaceamount_nav_load>
                </observers>
            </supplierfrontendproductuploader_nav_load>
        </events>
    </frontend>
</config>