<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_MarketplaceDeliveryDate>
            <version>1.0.5</version>
        </Cminds_MarketplaceDeliveryDate>
    </modules>
    <global>
        <blocks>
            <marketplace_delivery_date>
                <class>Cminds_MarketplaceDeliveryDate_Block</class>
            </marketplace_delivery_date>
        </blocks>
        <models>
            <marketplace_delivery_date>
                <class>Cminds_MarketplaceDeliveryDate_Model</class>
                <resourceModel>marketplace_delivery_date_mysql4</resourceModel>
            </marketplace_delivery_date>
            <marketplace_delivery_date_mysql4>
                <class>Cminds_MarketplaceDeliveryDate_Model_Mysql4</class>
                <entities>
                    <deliverydate_supplier_time_excluded_days>
                        <table>marketplace_deliverydate_supplier_time_excluded_days</table>
                    </deliverydate_supplier_time_excluded_days>
                </entities>
            </marketplace_delivery_date_mysql4>
        </models>
        <helpers>
            <marketplace_delivery_date>
                <class>Cminds_MarketplaceDeliveryDate_Helper</class>
            </marketplace_delivery_date>
        </helpers>
        <resources>
            <cminds_marketplace_delivery_date>
                <setup>
                    <module>Cminds_MarketplaceDeliveryDate</module>
                    <class>Cminds_MarketplaceDeliveryDate_Model_Mysql4_Setup</class>
                </setup>
            </cminds_marketplace_delivery_date>
        </resources>
        <template>
            <email>
                <delivery_email_order_items_template translate="label" module="marketplace_delivery_date">
                    <label>Delivery Notifications</label>
                    <file>cminds/delivery_notification.html</file>
                    <type>html</type>
                </delivery_email_order_items_template>
            </email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <cminds_marketplacedeliverydate>
                    <files>
                        <default>Cminds_MarketplaceDeliveryDate.csv</default>
                    </files>
                </cminds_marketplacedeliverydate>
            </modules>
        </translate>
        <routers>
            <marketplace_delivery_date>
                <use>standard</use>
                <args>
                    <module>Cminds_MarketplaceDeliveryDate</module>
                    <frontName>deliverydate</frontName>
                </args>
            </marketplace_delivery_date>
        </routers>
        <layout>
            <updates>
                <marketplace_delivery_date>
                    <file>cminds_marketplace_delivery_date.xml</file>
                </marketplace_delivery_date>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <cm_checkout_controller_onepage_save_shipping_method>
                        <type>singleton</type>
                        <class>Cminds_MarketplaceDeliveryDate_Model_Observer</class>
                        <method>onSaveShippingMethod</method>
                    </cm_checkout_controller_onepage_save_shipping_method>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
            <controller_action_predispatch_checkout_multishipping_addressesPost>
                <observers>
                    <cm_checkout_controller_multishipping_save_shipping_method>
                        <type>singleton</type>
                        <class>Cminds_MarketplaceDeliveryDate_Model_Observer</class>
                        <method>onSaveShippingMethod</method>
                    </cm_checkout_controller_multishipping_save_shipping_method>
                </observers>
            </controller_action_predispatch_checkout_multishipping_addressesPost>
            <sales_order_place_after>
                <observers>
                    <marketplace_sales_order_place_after>
                        <type>singleton</type>
                        <class>Cminds_MarketplaceDeliveryDate_Model_Observer</class>
                        <method>onOrderPlaced</method>
                    </marketplace_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <marketplace_checkout_multishipping_controller_success_action>
                        <type>singleton</type>
                        <class>Cminds_MarketplaceDeliveryDate_Model_Observer</class>
                        <method>multishippingSuccessAction</method>
                    </marketplace_checkout_multishipping_controller_success_action>
                </observers>
            </checkout_multishipping_controller_success_action>
            <supplierfrontendproductuploader_nav_load>
                <observers>
                    <marketplace_delivey_date_nav_load>
                        <type>singleton</type>
                        <class>Cminds_MarketplaceDeliveryDate_Model_Observer</class>
                        <method>navLoad</method>
                    </marketplace_delivey_date_nav_load>
                </observers>
            </supplierfrontendproductuploader_nav_load>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <marketplace_delivery_date>
                    <file>cminds_marketplace_delivery_date.xml</file>
                </marketplace_delivery_date>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <marketplace_delivery_date_adminhtml_customer_save_after>
                        <class>marketplace_delivery_date/adminhtml_observer</class>
                        <method>onCustomerSave</method>
                    </marketplace_delivery_date_adminhtml_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <marketplace_delivery_date before="Mage_Adminhtml">Cminds_MarketplaceDeliveryDate_Adminhtml</marketplace_delivery_date>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <delivery_notifications>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>marketplace_delivery_date/cron::run</model></run>
            </delivery_notifications>
        </jobs>
    </crontab>
</config>