<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Marketplacerma>
            <version>1.0.3</version>
        </Cminds_Marketplacerma>
    </modules>
    <global>
        <blocks>
            <marketplacerma>
                <class>Cminds_Marketplacerma_Block</class>
            </marketplacerma>
        </blocks>
        <models>
            <marketplacerma>
                <class>Cminds_Marketplacerma_Model</class>
                <resourceModel>marketplacerma_mysql4</resourceModel>
            </marketplacerma>
        </models>
        <helpers>
            <marketplacerma>
                <class>Cminds_Marketplacerma_Helper</class>
            </marketplacerma>
        </helpers>
        <events>
            <adminhtml_cminds_rma_prepare_columns_after>
                <observers>
                    <add_supplier_column>
                        <type>singleton</type>
                        <class>Cminds_Marketplacerma_Model_Observer</class>
                        <method>addRmaViewSupplierColumn</method>
                    </add_supplier_column>
                </observers>
            </adminhtml_cminds_rma_prepare_columns_after>
            <supplierfrontendproductuploader_nav_load>
                <observers>
                    <marketplacerma_nav_load>
                        <type>singleton</type>
                        <class>Cminds_Marketplacerma_Model_Observer</class>
                        <method>navLoad</method>
                    </marketplacerma_nav_load>
                </observers>
            </supplierfrontendproductuploader_nav_load>
            <cminds_rma_save_after>
                <observers>
                    <cminds_rma_save_after_observer>
                        <type>singleton</type>
                        <class>Cminds_Marketplacerma_Model_Observer</class>
                        <method>cmindsRmaSaveAfter</method>
                    </cminds_rma_save_after_observer>
                </observers>
            </cminds_rma_save_after>
        </events>
        <template>
            <email>
                <rma_vendor_new module="marketplacerma">
                    <label>RMA status updated</label>
                    <file>rma/rma_vendor.html</file>
                    <type>html</type>
                </rma_vendor_new>
            </email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <cminds_marketplacerma>
                    <files>
                        <default>Cminds_Marketplacerma.csv</default>
                    </files>
                </cminds_marketplacerma>
            </modules>
        </translate>
        <translate>
	            <modules>
	                <cminds_marketplacerma>
	                    <files>
	                        <default>Cminds_Marketplacerma.csv</default>
	                    </files>
	                </cminds_marketplacerma>
	            </modules>
	        </translate>
        <layout>
            <updates>
                <marketplacerma>
                    <file>cminds_marketplacerma.xml</file>
                </marketplacerma>
            </updates>
        </layout>
        <routers>
            <cminds_marketplace>
                <args>
                    <modules>
                        <cminds_marketplacerma before="Mage_Adminhtml">Cminds_Marketplacerma</cminds_marketplacerma>
                    </modules>
                </args>
            </cminds_marketplace>
        </routers>
    </frontend>
</config>