<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Fedex>
            <version>1.1.2</version>
        </Cminds_Fedex>
    </modules>
    <global>
        <blocks>
            <cminds_fedex>
                <class>Cminds_Fedex_Block</class>
            </cminds_fedex>
        </blocks>
        <models>
            <cminds_fedex>
                <class>Cminds_Fedex_Model</class>
                <resourceModel>cminds_fedex_resource</resourceModel>
            </cminds_fedex>
            <cminds_fedex_resource>
                <class>Cminds_Fedex_Model_Resource</class>
            </cminds_fedex_resource>
            <marketplace>
                <rewrite>
                    <methods>Cminds_Fedex_Model_Methods</methods>
                </rewrite>
            </marketplace>
        </models>
        <helpers>
            <cminds_fedex>
                <class>Cminds_Fedex_Helper</class>
            </cminds_fedex>
        </helpers>
        <resources>
            <cminds_fedex>
                <setup>
                    <module>Cminds_Fedex</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cminds_fedex>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <cminds_fedex_sales_order_place_after>
                        <type>singleton</type>
                        <class>Cminds_Fedex_Model_Observer</class>
                        <method>onOrderPlaceMethod</method>
                    </cminds_fedex_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <cm_fedex_checkout_controller_onepage_save_shipping_method>
                        <type>singleton</type>
                        <class>Cminds_Fedex_Model_Observer</class>
                        <method>onSaveShippingMethod</method>
                    </cm_fedex_checkout_controller_onepage_save_shipping_method>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
            <controller_action_predispatch_Cminds_Marketplace_settings_shippingSave>
                <observers>
                    <cm_fedex_checkout_controller_Marketplace_settings_shippingSave>
                        <type>singleton</type>
                        <class>Cminds_Fedex_Model_Observer</class>
                        <method>onSaveShippingMethodVendor</method>
                    </cm_fedex_checkout_controller_Marketplace_settings_shippingSave>
                </observers>
            </controller_action_predispatch_Cminds_Marketplace_settings_shippingSave>
            <checkout_cart_add_product_complete>
                <observers>
                    <checkout_checkout_cart_update_items_after>
                        <class>cminds_fedex/observer</class>
                        <method>onCartChanged</method>
                    </checkout_checkout_cart_update_items_after>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_items_after>
                <observers>
                    <checkout_checkout_cart_update_item_complete>
                        <class>cminds_fedex/observer</class>
                        <method>onCartChanged</method>
                    </checkout_checkout_cart_update_item_complete>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_quote_destroy>
                <observers>
                    <checkout_checkout_quote_destroy>
                        <class>cminds_fedex/observer</class>
                        <method>onCartChanged</method>
                    </checkout_checkout_quote_destroy>
                </observers>
            </checkout_quote_destroy>
            <sales_order_save_after>
                <observers>
                    <checkout_sales_order_save_after>
                        <class>cminds_fedex/observer</class>
                        <method>onOrderSaved</method>
                    </checkout_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <supplierfrontendproductuploader_nav_load>>
                <observers>
                    <supplierfrontendproductuploader_supplierfrontendproductuploader_nav_load>
                        <class>cminds_fedex/observer</class>
                        <method>onNavLoad</method>
                    </supplierfrontendproductuploader_supplierfrontendproductuploader_nav_load>
                </observers>
            </supplierfrontendproductuploader_nav_load>
            <adminhtml_customer_save_after>
                <observers>
                    <customer_adminhtml_customer_save_after>
                        <type>model</type>
                        <class>cminds_fedex/observer</class>
                        <method>saveCustomerCustomizationData</method>
                    </customer_adminhtml_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
            <marketplace_validate_method>
                <observers>
                    <marketplace_validate_method_fedex>
                        <type>model</type>
                        <class>cminds_fedex/observer</class>
                        <method>canShowMethod</method>
                    </marketplace_validate_method_fedex>
                </observers>
            </marketplace_validate_method>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <cminds_fedex>
                    <files>
                        <default>Cminds_Fedex.csv</default>
                    </files>
                </cminds_fedex>
            </modules>
        </translate>
        <layout>
            <updates>
                <Cminds_Fedex>
                    <file>cminds/fedex.xml</file>
                </Cminds_Fedex>
            </updates>
        </layout>
        <routers>
            <cminds_marketplace>
                <args>
                    <modules>
                        <cminds_fedex before="Cminds_Marketplace">Cminds_Fedex</cminds_fedex>
                    </modules>
                </args>
            </cminds_marketplace>
        </routers>
        <events>
            <marketplace_before_shipping_method_save>
                <observers>
                    <cminds_fedex_marketplace_before_shipping_method_save>
                        <class>cminds_fedex/observer</class>
                        <type>singleton</type>
                        <method>beforeShippingMethodSave</method>
                    </cminds_fedex_marketplace_before_shipping_method_save>
                </observers>
            </marketplace_before_shipping_method_save>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <Cminds_Fedex>
                    <file>cminds_fedex.xml</file>
                </Cminds_Fedex>
            </updates>
        </layout>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <cminds_fedex_adminhtml_widget_container_html_before>
                        <class>cminds_fedex/observer</class>
                        <type>singleton</type>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </cminds_fedex_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_fedex before="Mage_Adminhtml">Cminds_Fedex_Adminhtml</cminds_fedex>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>