<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Marketplacepaypal>
            <version>1.0.4</version>
        </Cminds_Marketplacepaypal>
    </modules>
    <global>
        <blocks>
            <marketplacepaypal>
                <class>Cminds_Marketplacepaypal_Block</class>
            </marketplacepaypal>
            <marketplace>
                <rewrite>
                    <adminhtml_billing_list_grid>Cminds_Marketplacepaypal_Block_Adminhtml_Billing_List_Grid</adminhtml_billing_list_grid>
                </rewrite>
            </marketplace>
        </blocks>
        <helpers>
            <marketplacepaypal>
                <class>Cminds_Marketplacepaypal_Helper</class>
            </marketplacepaypal>
        </helpers>
        <models>
            <marketplacepaypal>
                <class>Cminds_Marketplacepaypal_Model</class>
                <resourceModel>marketplacepaypal_mysql4</resourceModel>
            </marketplacepaypal>
            <marketplacepaypal_mysql4>
                <class>Cminds_Marketplacepaypal_Model_Mysql4</class>
            </marketplacepaypal_mysql4>
        </models>
        <resources>
            <cminds_marketplacepaypal>
                <setup>
                    <module>Cminds_Marketplacepaypal</module>
                    <class>Cminds_Marketplacepaypal_Model_Mysql4_Setup</class>
                </setup>
            </cminds_marketplacepaypal>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <marketplacepaypal_sales_order_place_after>
                        <type>singleton</type>
                        <class>Cminds_Marketplacepaypal_Model_Observer</class>
                        <method>onOrderPlacedStartPayment</method>
                    </marketplacepaypal_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <marketplacepaypal_sales_order_save_after>
                        <type>singleton</type>
                        <class>Cminds_Marketplacepaypal_Model_Observer</class>
                        <method>OnOrderCompleted</method>
                    </marketplacepaypal_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <supplierfrontendproductuploader_nav_load>
                <observers>
                    <marketplacepaypal_nav_load>
                        <type>singleton</type>
                        <class>Cminds_Marketplacepaypal_Model_Observer</class>
                        <method>navLoad</method>
                    </marketplacepaypal_nav_load>
                </observers>
            </supplierfrontendproductuploader_nav_load>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_marketplacepaypal before="Mage_Adminhtml">Cminds_Marketplacepaypal_Adminhtml</cminds_marketplacepaypal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <cminds_marketplacepaypal>
                    <files>
                        <default>Cminds_Marketplacepaypal.csv</default>
                    </files>
                </cminds_marketplacepaypal>
            </modules>
        </translate>
        <routers>
            <cminds_supplierfrontendproductuploader>
                <args>
                    <modules>
                        <cminds_marketplacebids before="Cminds_Supplierfrontendproductuploader">Cminds_Marketplacepaypal</cminds_marketplacebids>
                    </modules>
                </args>
            </cminds_supplierfrontendproductuploader>
        </routers>
        <layout>
            <updates>
                <marketplacepaypal>
                    <file>cminds_marketplacepaypal.xml</file>
                </marketplacepaypal>
            </updates>
        </layout>
    </frontend>
</config>